PROJECT_NAME="SonClarus"

# RDS
# Use the 'Endpoint' from your AWS RDS dashboard
POSTGRES_SERVER=your-rds-endpoint-here.amazonaws.com
POSTGRES_PORT=5432
POSTGRES_USER=your_db_username
POSTGRES_PASSWORD=your_db_password
# Default is usually 'postgres' unless you created a specific DB name
POSTGRES_DB=postgres

#Redis Settings (ElastiCache)
REDIS_URL=rediss://your-elasticache-primary-endpoint-here:6379/0
REDIS_HOST=your-elasticache-primary-endpoint-here


# Generate a secret key using: openssl rand -hex 32
SECRET_KEY=your-64-character-hex-string-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# aws keys for s3
AWS_ACCESS_KEY_ID=YOUR_IAM_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_IAM_SECRET_KEY
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=your-s3-bucket-name

# Get this from Google AI Studio or any other llm key
GEMINI_API_KEY=your-gemini-api-key-here


MAX_FILE_SIZE=52428800

DOCS_ENDPOINT=anything-you-want