scalar-fastapi
fastapi[all]
uvicorn
python-multipart
pydantic
pydantic-settings
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]

sqlmodel
asyncpg
sqlalchemy
psycopg2-binary

celery[redis]
redis

python-dotenv
requests