scalar-fastapi
fastapi[all]
uvicorn
python-multipart
pydantic
pydantic-settings
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
soundfile
numpy
librosa
matplotlib
scipy
fpdf2
psycopg2-binary # sync db driver
alembic # for db migrations

sqlmodel
asyncpg
sqlalchemy
psycopg2-binary

celery[redis]
redis

python-dotenv
requests